%%-*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb", {branch, "main"}}}]}.

{eunit_opts, [
              no_tty,
              {report, {eunit_progress, [colored, profile]}}
             ]}.

{profiles,
 [{test,
   [{deps, [meck,
            {ibrowse, {git, "https://github.com/chef/ibrowse", {branch, "ma/revert_ipv6"}}},
            {eunit_formatters, {git, "https://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
           ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
